.CharacterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
}

a.Character {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    margin: 1rem;
    overflow: hidden;
    width: 300px;
    text-decoration: none;
}

.CharacterName {
    margin: 1rem;
    color: #333;
}

/* NAVBAR COMPONENTS */
/* For: src\components\navbar.js */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: #333 1px solid;
    color: #333;
    padding: 1rem;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.navbar-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin-right: 3rem;
}

.subtext {
    font-size: 0.8rem;
    color: #333;
    margin-top: 0;
}

/* simple small horizontal div box with border */
.episode-container {
    border: 1px solid #333;
    margin: 1rem;
    padding: 1rem;
}